<!DOCTYPE html>
<html lang="en">
    <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> <%- game.name %> </title>
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/css/game.css">
    <script src="/static/js/apiRequests.js"></script>
    <script src="/static/js/gameServerFunctions.js"></script>
    <% game.Scripts.forEach(script => { %>
        <% if (script.path.includes('http')) { %>
            <script src="<%- script.path %>"></script>
        <% } else { %>
            <script src="/gamestatic/<%- game.name + '/' + script.path %>"></script>
        <% } %>
    <% }) %>
    </head>
    <%- include('includes/header.ejs', user) %>
        <main>
        </main>
    <%- include('includes/footer.ejs')%>
</html>