<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/static/css/style.css">
        <script src="/static/js/apiRequests.js"></script>
        <title>Hawhk Games</title>
    </head>
    <%- include('includes/header.ejs', user) %> 
        <div class="container">
            <% games.forEach(game => { %>
                <a href="/game/<%- game.id %>" class="box">
                    <div class="game-title"><%- game.name.charAt(0).toUpperCase() + game.name.slice(1) %></div>
                    <div class="game-image">
                        <% if ( game.image ) { %>
                            <img src="/static/img/<%- game.name %>/<% game.image %>" alt="Game image">
                        <% } else { %>
                            <img src="/static/img/default.png" alt="Default game image" height="80%" width="80%">
                        <% } %>
                    </div>
                </a>
            <% }) %>
        </div>
    <%- include('includes/footer.ejs')%>
</html>